---
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import "../index.css";
import FunctionsColumn from "../components/FunctionsColumn.astro";
import { FunctionsTile } from "../components/FunctionsTile";
---

<Layout title="ScombZ Utilities">
  <main>
    <div
      class={css({
        width: "100%",
      })}
    >
      <div
        class={css({
          display: "flex",
          flexDirection: "column",
          gap: "5rem",
          alignItems: "center",
          mt: "2rem",
          maxWidth: "1280px",
          mx: "auto",
        })}
      >
        <FunctionsColumn
          title="直感的で使いやすいメニュー画面へ"
          description={[
            "スタンダードで使いやすいハンバーガーメニューを実装しました。",
            "標準のメニューから、誰にとっても直感的でわかりやすいモダンなUI/UXに変更されています。",
            "これにより、メニューの圧迫や誤クリックを防ぎ、使いやすさを向上させました。",
          ]}
          image="/about/menu.gif"
        />
        <FunctionsColumn
          title="行動を最適化する独自ウィジェット"
          description={[
            "メニューを展開することで、直接時間割や課題一覧にアクセスできます。",
            "課題一覧には提出期限が相対時間で表示されており、直感的に提出期限がわかります。自作課題や、アンケートを表示させることも可能です。",
            "それ以外にも、バス時刻表やカレンダー、メモやリンクなど自分の使い方に合わせたウィジェットを表示できます。",
          ]}
          image="/about/widget.png"
          direction="right"
        />
        <FunctionsColumn
          title="科目ページを大幅強化"
          description={[
            "科目詳細から、直接シラバスにアクセスできます。",
            "アンケートを表示登録することで、課題一覧にアンケートを表示させることができます。",
            "また、科目ごとにMarkdown記法でのメモを設定することもできます。",
            "科目ページではURLは自動でリンクに置換されるため、Zoomや授業資料へのアクセスがスムーズになります。",
            "一括ダウンロード機能では、科目ごとや回ごとにすべての資料をZIP形式でダウンロードできます。",
          ]}
          image="/about/course.png"
        />
        <FunctionsColumn
          title="どこでも見られるポップアップ"
          description={[
            "ScombZ Utilitiesのアイコンを固定化することで、どんなWebサイトを閲覧していてもすぐにポップアップを開けます。",
            "時間割や、課題一覧にすぐにアクセスすることができます。",
          ]}
          image="/about/popup.png"
          direction="right"
        />
      </div>
      <div class={css({ mt: "2rem" })}>
        <FunctionsTile client:load />
      </div>
      <div>
        <!--
        UI/UX 快適なメニュー画面
        スタンダードで使いやすいハンバーガーメニューを実装しました。標準のメニューから、誰にとっても直感的でわかりやすいUI/UXに変更されています。
        New feature シラバスに直接アクセス
        科目詳細から、直接シラバスにアクセスできます。（関連づけられるシラバスは必ず正しいとは限らないので注意してください）
        UI/UX 見やすい課題一覧・時間割
        ページ移動なしで、メニューから直接時間割を開けます。また、課題一覧もその下に表示できます。
        課題一覧には提出期限が相対時間で表示されており、直感的に提出期限がわかります。自作課題や、アンケートを表示させることも可能です。
        UI/UX 直感的なUI
        課題提出画面など、あらゆる場面で直感的なUIへと変更しています。提出ボタンや解答ボタンは青く目立たせ、文字以外の情報でストレスなくScombZを使用できます。
        New Featuew テストの誤操作防止
        1分ごとに自動的に解答内容が保存されるため、送信に失敗しても解答内容を大きく失うことはありません。
        また、テスト解答中に他の画面に移動しようとすると、確認ダイアログが表示されるため誤移動を防止します。
        New Featue 課題一覧にアンケートの表示
        表示登録した科目のアンケートを課題一覧に表示させることができるため、授業の感想などをアンケートで提出する必要がある科目などでも提出忘れを防止できます。
        科目詳細の最上部のトグルスイッチから、表示登録を行うことができます。
        UI/UX ログインの半自動化
        未ログイン状態で表示される「学生ログイン」やADFS二段階認証確認画面の「次へ」ボタンを自動でクリックします。パスワード入力後、自動でScombZの画面に入れます。
        UI/UX ホイールクリックを可能に
        LMSや配布資料など、通常左クリックでのみ操作可能になっているリンクでホイール押下時に新しいタブで開けるようになります。
        UI/UX URLをハイパーリンクに
        授業詳細ページ内にあるURLで、ハイパーリンクになっていないものをハイパーリンクに変更します。zoomや授業資料等にシームレスにアクセスできます。
        UI/UX 大きくて見やすいお知らせ
        小さくて見づらいお知らせダイアログをページいっぱいまで表示させます。
        また、お知らせダイアログの外側をクリックして閉じることもできます。 New
        Featue ファイルの一括ダウンロード
        科目詳細ページ内において、配布されているすべてのpdfファイルをZIP形式に圧縮し一括でダウンロードする機能。各回ごとにダウンロードすることもでき、こちらはpdfに限定されません。-->
      </div>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 100%;
      max-width: calc(100% - 2rem);
      color: #000;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
