---
import Layout from "../layouts/Layout.astro";
import { css } from "../../styled-system/css";
import "../index.css";
---

<Layout title="ScombZ Utilities">
  <main>
    <div
      class={css({
        textAlign: "center",
        height: "calc(100vh - 350px)",
        width: "100%",
      })}
    >
      <h1
        class={css({
          fontSize: "2rem",
          fontWeight: "bold",
          my: 10,
        })}
      >
        バグ報告・リクエスト
      </h1>
      <p>バグ報告、リクエストは以下のいずれかの方法でお知らせください。</p>
      <ul
        class={css({
          listStyle: "inside",
          padding: 0,
          margin: 0,
          gap: "1rem",
        })}
      >
        <li>
          <a
            class={css({
              color: "{colors.indigo.700}",
              textDecoration: "underline",
            })}
            href="https://docs.google.com/forms/d/e/1FAIpQLSeahBs8kcBB2dVmVA54KIIOxa4DKUE8v4a1E30ncawd9W4vjg/viewform"
            >Google Form</a
          >
        </li>
        <li>
          <a
            class={css({
              color: "{colors.indigo.700}",
              textDecoration: "underline",
            })}
            href="https://github.com/scombz-utilities/scombz-utilities-react/issues"
            >GitHub Issues</a
          >
        </li>
      </ul>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 100%;
      max-width: calc(100% - 2rem);
      color: #000;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
