---
import Layout from "../layouts/Layout.astro";
import { format } from "date-fns";
import { css } from "../../styled-system/css";
import { legacyReleaseNote } from "../releaseNote";
import { IoIosArrowUp, IoIosArrowDown } from "react-icons/io";
import "../index.css";
---

<Layout title="ScombZ Utilities">
  <main>
    <div
      class={css({
        display: "flex",
        flexDirection: "column",
        justifyContent: "center",
        alignItems: "center",
        width: "100%",
      })}
    >
      アップデートされました！
    </div>

    <style>
      main {
        margin: auto;
        padding: 1rem;
        width: 100%;
        max-width: calc(100% - 2rem);
        color: #000;
        font-size: 20px;
        line-height: 1.6;
      }
    </style>
  </main>
</Layout>
