---
import { css } from "../../styled-system/css";
const slideImages = [
  "/image2.png",
  "/image3.png",
  "/image4.png",
  "/image5.png",
];
---

<div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        slideImages.map((slide) => (
          <div class="swiper-slide">
            <img src={slide} alt="slide" />
          </div>
        ))
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
  </div>
</div>

<style>
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .swiper-wrapper {
    width: calc(50vw);
  }

  .swiper-slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .swiper-button::after {
    font-size: 32px;
    color: #fff0;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  import "swiper/css/bundle";

  export const swiperConfig = {
    modules: [Navigation, Pagination],
    loop: true,
    speed: 2000,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  };

  const swiper = new Swiper(".swiper", swiperConfig);
  setInterval(() => {
    swiper.slideNext();
  }, 5000);
</script>
