---
import Install from "../components/Install.astro";
import { css } from "../../styled-system/css";
import TopSwiper from "./TopSwiper.astro";
---

<div
  class={css({
    width: "100%",
    display: "flex",
    gap: "1rem",
    justifyContent: "center",
    alignItems: "center",
    flexDirection: "column",
    md: {
      flexDirection: "row",
    },
  })}
>
  <div
    class={css({
      height: "100%",
      width: "100%",
      flexDirection: "column",
      justifyContent: "center",
      zIndex: 1,
      display: "flex",
    })}
  >
    <img
      src="/scombz_utilities.svg"
      alt="ScombZ Utilities"
      class={css({
        width: "65%",
        textAlign: "center",
        margin: "auto",
      })}
    />
    <div
      class={css({
        padding: "0.5rem",
        borderRadius: "1rem",
        width: "fit-content",
        margin: "auto",
        textShadow: "#FaFaFc 5px 0 10px",
        my: 8,
      })}
    >
      <h2
        class={css({
          display: "block",
          width: "fit-content",
          fontSize: "2xl",
          fontWeight: "normal",
          textAlign: "center",
          filter: "drop-shadow(0 0 10px #fff)",
        })}
      >
        ScombZ Utilitiesで、ScombZをもっと便利に。
      </h2>
    </div>
    <Install />
  </div>
  <div
    class={css({
      height: "100%",
      width: "100%",
      zIndex: 0,
      display: "none",
      md: {
        display: "flex",
      },
    })}
  >
    <TopSwiper />
  </div>
</div>
